<div class="container-fluid">
  <div class="row">
    <img src="assets/img/image-1.png" class="col-6 img-holder img-fluid" />
    <div class="offset-1 col-5 m-5">

      <div class="card card-light mb-4 mt-5">
        <div class="card-body">
          Find your dream job.
        </div>
      </div>

      <div class="card card-light mb-4">
        <div class="card-body">
          Connect with Hiring Managers directly.
        </div>
      </div>

      <div class="card card-light mb-4">
        <div class="card-body">
          Find talent for your team.
        </div>
      </div>
      <div class="row">
        <img src="assets/img/logo-2.png" class="offset-8 img-fluid w-50" />
      </div>
    </div>

  </div>
</div>
